body{
    background-color: #fbd5b7;
}

h1{
    color: crimson;
    background-color: black;
    text-align: center;
    font-size: 80px;
    line-height: 100px;
    text-shadow: 12px 4px 12px blue;

}
h1:hover{
    background-color: lightblue;
}
h3{
    font-size: 50px;
    color: blue;
}